@import "../utilities/helpers";

html {
	font-family: Helvetica, sans-serif;
	font-size: 62.5%;
	font-weight: 400;
}

// ::placeholder {
	
// }

// ::selection {

// }

body {
	font-size: 1.6rem;
	min-width: 32rem;
	line-height: 1.65;
	overflow-x: hidden;
}

.heading-secondary {
	margin: 5rem 0;
	text-align: center;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	@include r(967) {
		flex-direction: column;
		align-items: center;
	}
}


.card {
	perspective: 150rem;
	width: 30rem;
	height: 5rem;
    -moz-perspective: 150rem;
    position: relative;
	height: 52rem;
	@include r(967) {
		width: 85%;
		margin-bottom: 3rem;
	}
    
    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(#000, .15);

        &--front {
            background-color: #fff;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, orangered, orange);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, blue, aqua);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, green, yellow);
            }
        }
    }
  

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }


    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        &--1 {
            background-image: linear-gradient(to right bottom, orangered, orange), 
            url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, blue, aqua), 
            url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, green, yellow), 
            url(../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba(orangered, .85), 
            rgba(orange, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba(blue, .85), 
            rgba(aqua, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba(green, .85), 
            rgba(yellow, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid #ccc;
                }
            }
        }
    }

    // FRONT SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: #fff;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }
}


.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(#000,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(#000,.2);
    }
    
    &--white {
        background-color: #fff;
        color: #444;

        &::after {
            background-color: #fff;
        }
    }

    &--green {
        background-color: orangered;
        color: #fff;

        &::after {
            background-color: orangered;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1.6rem;
        color: orangered;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid orangered;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: orangered;
        color: #fff;
        box-shadow: 0 1rem 2rem rgba(#000, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba(#000, .15);
        transform: translateY(0);
    }
}